body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.contenedor {
  max-width: 960px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  margin-top: 55px;
}

.logo {
  width: 7%;
  padding-right: 10px;
}

.pricing-header {
  max-width: 700px;
}

#registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#formulario {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.125);
}

.formulario__datos {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
  padding-top: 10px;
}

.formulario__barrios {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.inputDatos {
  height: 40px;
  border-radius: 6px;
  background-color: aliceblue;
  border: none;
  outline: none;
  margin: 10px;
  padding: 15px;
  font-size: 1.2rem;
}

#barrios {
  display: flex;
  flex-direction: column;
}

legend {
  font-size: 1rem;
}

.botonSubmit {
  width: 150px;
  height: 35px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: aliceblue;
  margin: 20px auto;
}

#grillaBurgers {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#itemsHtml {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 250px;
  font-size: 1.2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.card-title {
  font-size: 1rem;
  text-align: center;
}

.btn-primary {
  width: 35px;
  float: right;
  border: none;
  border-radius: 5px;
}

.headProductos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.buscador {
  width: 280px;
  padding: 15px;
}

#carritoHtml {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
.carrito {
  margin-top: 50px;
  padding: 50px;
}
.botonVaciar {
  float: right;
}

#botonContinuar{
  margin-top: 25px;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  padding: 50px;
}

#totalHtml{
  font-size: 1.5em;
}

.footer {
  padding: 20px;
  margin: 10px;
}

.footer p {
  text-align: center;
}


.filaProducto{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.imgTable{
  width: 40px;
  height: auto;
}

.eachItem{
  height: 100px;
}