body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.contenedor {
  max-width: 960px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  margin-top: 55px;
}

.logo {
  width: 20%;
  padding-right: 10px;
}

#registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  border-radius: 0.25rem;
}

.formulario__datos {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
  padding-top: 10px;
}

.formulario__barrios {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputDatos {
  height: 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 10px;
  padding: 15px;
  font-size: 1.2rem;
}

#barrios {
  display: flex;
  flex-direction: column;
}

legend {
  font-size: 1rem;
}

.btnContinue {
  width: 100px;
  margin-left: auto;
}

#itemsHtml {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 250px;
  font-size: 1.2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.card-title {
  font-size: 1rem;
  text-align: center;
}

.btn-primary {
  width: 35px;
  float: right;
  border: none;
  border-radius: 5px;
}

.btn-danger {
  margin-left: 20px;
}

.headProductos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.buscador {
  width: 280px;
  padding: 15px;
}

#carritoHtml {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
.carrito {
  margin-top: 30px;
  padding: 30px;
  border-radius: 0.25rem;
}
.botonVaciar {
  margin-top: 10px;
  float: right;
  width: 100px;
}


.total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;
}

.footer {
  padding: 20px;
  margin: 10px;
}

.footer p {
  text-align: center;
}

.filaProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.imgTable {
  width: 40px;
  height: auto;
}

.eachItem {
  height: 100px;
}

@media (max-width: 400px) {
  .logo_centrado{
    display: flex;
    justify-content: center;
  }
 
  .mainContainer{
    padding:0;
    margin: 0;
  }

  .lead{
    text-align: center;
    margin-bottom: 35px;
  }

  .buscador{
    display: none;
  }

  #items{
    padding: 0;
    margin: 0;
  }

  #itemsHtml{
    padding: 0;
    margin: 20px 0;
  }
  .card{
    width: 45%;
    height: 100%;
    font-size: 1rem;

  }
  .aside_sm{
    padding: 0 10px 0 8px;
  }

  .btnContinue{
    margin-bottom: 15px;
  }

  .botonVaciar{
    margin-bottom: 15px;
  }
}
